html{
    height:100%;
    margin:0;
}
body{
    background-image: url("saber.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-attachment: fixed;
    -moz-background-size: cover;
    background-size: cover;
}
.container{
    width:40vw;
}
#title{
    font-size: 3vw;
}
#post_list{
    width: 38vw;
    height: 80vh;
    overflow: auto;
    background-color: white;
}
#mwt_mwt_slider_scroll
{
 top:55px;
 background:#3c5a98;
 left:-360px;
 width:360px;
 position:fixed;
 z-index:999;
}
#mwt_slider_content{
 background:#3c5a98;
 text-align:center;
 padding-top:20px;
 height: 70vh;
 overflow: auto;
}
#mwt_fb_tab {
 position:absolute;
 top:40%;
 right:-40px;
 width:40px;
 height:90px;
 background:#3c5a98;
 color:#ffffff;
 font-family:微軟正黑體;
 text-align:center;
 padding:9px 0;
 -moz-border-radius-topright:10px;
 -moz-border-radius-bottomright:10px;
}
#mwt_fb_tab span {
 display:block;
 height:12px;
 padding:1px 0;
 line-height:12px;
 text-transform:uppercase;
 font-size:12px;
}
#logout-btn{
    color:black;
}
#logout-btn:hover{
    background-color: rgb(0, 183, 255);
    color:white;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
/* The Close Button */
.close {
    color: #aaaaaa; 
    font-size: 30px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#friendEmail{
    margin-bottom: 10px;
}
#submit{
    width:20%;
}
#friendzone{
    color:white;
    background-color:#3c5a98;
    padding: 3.5vh;
    text-align: center;
    height:10vh;
    width:20vw;
}
#friendzone:hover{
    color:black;
    background-color: white;
    cursor: pointer;
}
#add{
    cursor: cell;
}

#onlineplace{
 top:55px;
 background:#3c5a98;
 right:-360px;
 width:360px;
 position:fixed;
 z-index:9999;
}
#online{
 background:#3c5a98;
 text-align:center;
 padding-top:20px;
 height: 70vh;
 overflow: auto;
}
#onlinedisplay {
 position:absolute;
 top:40%;
 left:-40px;
 width:40px;
 height:120px;
 background:#3c5a98;
 color:#ffffff;
 font-family:微軟正黑體;
 text-align:center;
 padding:9px 0;
 -moz-border-radius-topright:10px;
 -moz-border-radius-bottomright:10px;
}
#onlinelobby{
    color:black;
    background-color:white;
    padding: 3.5vh;
    text-align: center;
    height:10vh;
}
#chatroom{
    display: none;
    position: fixed; 
    z-index: 999;
    right: 10vw;
    bottom:0vh;
    width:20vw;
    height:45vh;
    overflow: auto; 
    background-color: #3c5a98;
}
#chatplace{ 
    position: absolute;
    left:0.5vw;
    bottom:1vh;
    width:15vw;
}
#chatid{
    position: absolute;
    left:0.5vw;
    width:17vw;
    height:4vh;
    background-color: #3c5a98;
    color:white;
}
#chatcontent{
    position: absolute;
    top:10vh;
    left:0.5vw;
    width:17vw;
    height:20vh;
    background-color: white;
    overflow: auto;
}
.chatclose {
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}
.chatclose:hover,
.chatclose:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}