html{
    height:100%;
}
body{
    margin:0;
    background-image: url("saber.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding:0;
    -moz-background-size:cover;
}
#ti{
    font-size:3.5vw;
}
#logreg{
    font-size:2.5vw;
}
p{
    font-size: 2vw;
}
#btnLogin{
    text-overflow: ellipsis;
    font-size: 1.3vw;
    width:10%;
    
}
#btnSignUp{
    text-overflow: ellipsis;
    font-size: 1.3vw;
    width:20%;
}

#btngoogle{
    text-overflow: ellipsis;
    font-size: 1.3vw;
    width:20%;
}
#btnfb{
    text-overflow: ellipsis;
    font-size: 1.3vw;
    width:20%;
}
.form-group{
    margin-left:20%;
}
input[type="email"] {
    height:50px;
    width:30%;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
input[type="password"] {
    height:50px;
    width:30%;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
